obj/
bin/
persistence/mongodb
persistence/prometheus/storage
persistence/loki/**/*
persistence/grafana/**/*
!persistence/mongodb/README.md
!persistence/prometheus/storage/README.md
persistence/tempo/tempo-data